<!--  Sport title field  -->
<!-- <form [formGroup]="formService.sportsForm">
    <div class="field-container">
      <mat-form-field floatLabel="never">
        <input
          matInput
          placeholder="Sport title"
          formControlName = ""
          required
        />
        <mat-error>This field is required.</mat-error>
      </mat-form-field> -->
  
      <!-- Description field -->
      <!-- <mat-form-field floatLabel="never">
        <input
          matInput
          placeholder="description"
          formControlName = "description"
          required
        />
      </mat-form-field> -->

      <!-- Avatar field -->
      <!-- <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="Picture"
            formControlName = "avatar"
            required
          />
        </mat-form-field>


      </div> -->